<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.travel.dao.BusLineMapper">
	<resultMap id="BaseResultMap" type="com.lc.travel.entity.BusLine">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="linename" jdbcType="VARCHAR" property="lineName" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
	<sql id="Base_Column_List">
		id, linename, description
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from busline
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from busline
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lc.travel.entity.BusLine">
		insert into busline (id, linename, description
		)
		values (#{id,jdbcType=INTEGER}, #{lineName,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.lc.travel.entity.BusLine">
		insert into busline
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="lineName != null">
				linename,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="lineName != null">
				#{lineName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lc.travel.entity.BusLine">
		update busline
		<set>
			<if test="lineName != null">
				linename = #{lineName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lc.travel.entity.BusLine">
		update busline
		set linename = #{lineName,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
	
	<select id="getBusLines" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from busline
	</select>
</mapper>